body {
    color: #fff;
    background-color: #F5F5F5;
}

.stButton>button {
    color: #4F8BF9;
    font-size: 40px;
    border-radius: 5%;
    height: 10%;
    width: 100%;
}

.stTextInput>div>div>input {
    color: #4F8BF9;
}